<h2>{{ title }}</h2>
<div class="filters" *ngIf="getMode() === 'ShowAll'">
  <p>Year</p>
  <div>
    <div>
      <span class="label">{{ slider.from }}</span>
      <mat-slider [min]="slider.min" [max]="slider.max">
        <input
          [value]="slider.from"
          (valueChange)="onSliderFromChange($event)"
          matSliderStartThumb
        />
        <input
          [value]="slider.to"
          (valueChange)="onSliderToChange($event)"
          matSliderEndThumb
        />
      </mat-slider>
      <span class="label">{{ slider.to }}</span>
    </div>
    <div class="dropdown">
      <mat-form-field>
        <mat-label>Regions</mat-label>
        <mat-select
          [formControl]="regions"
          multiple
          (openedChange)="onSelectionChange($event)"
        >
          <mat-option *ngFor="let region of regionsList" [value]="region">
            {{ region }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>

<table
  mat-table
  [dataSource]="getPagination().getCountries()"
  class="mat-elevation-z8"
>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('name')"
    >
      Name
      <ng-container *ngIf="isSelectedProperty('name')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element" mat-sort-header>
      {{ element.name }}
    </td>
  </ng-container>

  <!-- Area Column -->
  <ng-container matColumnDef="area" *ngIf="getMode() === 'ShowCountries'">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('area')"
    >
      Area
      <ng-container *ngIf="isSelectedProperty('area')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">{{ element.area }}</td>
  </ng-container>

  <!-- Country Code 2 Column -->
  <ng-container
    matColumnDef="country_code2"
    *ngIf="getMode() === 'ShowCountries'"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('country_code2')"
    >
      Country Code
      <ng-container *ngIf="isSelectedProperty('country_code2')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.countryCodeTwoLetters }}
    </td>
  </ng-container>

  <!-- Country Code 3 Column -->
  <!-- Remove the OR in the ngIf -->
  <ng-container
    matColumnDef="country_code3"
    *ngIf="getMode() === 'ShowCountriesStats' || getMode() === 'ShowAll'"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('country_code3')"
    >
      Country Code
      <ng-container *ngIf="isSelectedProperty('country_code3')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.countryCodeThreeLetters }}
    </td>
  </ng-container>

  <!-- Continent Column -->
  <!-- <ng-container matColumnDef="continent" *ngIf="getMode() === 'ShowAll'">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('continent')"
    >
      Continent
      <ng-container *ngIf="isSelectedProperty('continent')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.continent }}
    </td>
  </ng-container> -->

  <!-- Region Column -->
  <!-- <ng-container matColumnDef="region" *ngIf="getMode() === 'ShowAll'">
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('region')"
    >
      Region
      <ng-container *ngIf="isSelectedProperty('region')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.region }}
    </td>
  </ng-container> -->

  <!-- Year Column -->
  <ng-container
    matColumnDef="year"
    *ngIf="getMode() === 'ShowCountriesStats' || getMode() === 'ShowAll'"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('year')"
    >
      Year
      <ng-container *ngIf="isSelectedProperty('year')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.year }}
    </td>
  </ng-container>

  <!-- Population Column -->
  <ng-container
    matColumnDef="population"
    *ngIf="getMode() === 'ShowCountriesStats' || getMode() === 'ShowAll'"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('population')"
    >
      Population
      <ng-container *ngIf="isSelectedProperty('population')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.population }}
    </td>
  </ng-container>

  <!-- GDP Column -->
  <ng-container
    matColumnDef="gdp"
    *ngIf="getMode() === 'ShowCountriesStats' || getMode() === 'ShowAll'"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('gdp')"
    >
      GDP
      <ng-container *ngIf="isSelectedProperty('gdp')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.gdp }}
    </td>
  </ng-container>

  <!-- GDP per Capita Column -->
  <ng-container
    matColumnDef="gdp_per_capita"
    *ngIf="getMode() === 'ShowCountriesStats'"
  >
    <th
      mat-header-cell
      *matHeaderCellDef
      class="column"
      (click)="onPropertyClick('gdp_per_capita')"
    >
      GDP per Capita
      <ng-container *ngIf="isSelectedProperty('gdp_per_capita')">
        <img
          *ngIf="isAscending()"
          src="../assets/icons/sort-asc.svg"
          alt="sort-ascending"
        />
        <img
          *ngIf="!isAscending()"
          src="../assets/icons/sort-desc.svg"
          alt="sort-descending"
        />
      </ng-container>
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.gdpPerCapita }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    (click)="onCountryClick(row)"
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="mat-row"
  ></tr>
</table>

<app-paginator
  (pageEventEmitter)="handlePageEvent($event)"
  [length]="getPagination().getTotal()"
  [pageSize]="getPagination().getLimit()"
  [pageIndex]="getPagination().getPageNumber() - 1"
></app-paginator>
