.mat-row:hover {
  background-color: lightblue;
  cursor: pointer;
}

th {
  font-size: 1.1rem;
  font-weight: 600;
}

td {
  font-size: 1rem;
}

.column {
  &:hover {
    background-color: lightcoral !important;
    cursor: pointer;
  }
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-slider {
    width: 250px;
  }

  .label {
    margin: 1rem;
    color: white;
    font-size: 0.9rem;
  }

  p {
    color: white;
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  .dropdown {
    display: flex;
    justify-content: center;
  }
}
