<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="com.example.worldinfo.worldinfoservice.mappers.CountryMapper">
    <select id="findAllComplete" resultTyoe="java.util.List">
        SELECT c.name AS continent, r.name AS region, co.name AS country, cs.year, cs.population, cs.gdp
        FROM continents c
        JOIN regions r ON c.continent_id = r.continent_id
        JOIN countries co ON r.region_id = co.region_id
        JOIN (
            SELECT
                country_id,
                year,
                population,
                gdp
            FROM country_stats
            ORDER BY year DESC
        ) cs ON co.country_id = cs.country_id
        ORDER BY ${property} ${order}
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>