header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  h1 {
    margin: 2rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202f42;
  color: #f0f0f0;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 2rem;
  // flex-direction: column;

  div {
    display: flex;
    justify-content: center;

    img {
      width: 24px;
      margin-left: 0.2rem;
    }
  }

  p {
    margin: 0;
    position: relative;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 0.2rem;
  }
}

a {
  color: black;
  text-decoration: none;
}

.icon {
  width: 24px;
  margin-left: 0.2rem;
}

.home {
  height: 50px;
  padding: 0.3rem;
  color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  background-color: white;
  margin: 0.5rem;
  &:hover {
    background-color: #3a5068;
    cursor: pointer;
  }
}

header {
  div {
    border: 1px solid black;
    border-radius: 0.5rem;
    &:hover {
      background-color: black;
    }
    p {
      text-align: center;
      color: wheat;
    }
  }
}
