<header>
  <h1>World Information App</h1>
  <div>
    <p>Home</p>
    <img
      (click)="onClickHome()"
      class="home"
      src="../assets/icons/home.svg"
      alt="home"
    />
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>Developed by: Thanos Trifonis</p>
  <div>
    <a href="https://github.com/TrifonisAth"
      ><img class="icon" src="../assets/icons/github.svg"
    /></a>
    <a href="https://www.linkedin.com/in/thanos-trifonis/"
      ><img class="icon" src="../assets/icons/linkedin.svg" />
    </a>
  </div>
</footer>
